.logo {
  margin: 16px;
  display: inline-block;
  width: calc(100% - 42px);
  font-weight: bold;
  font-size: 18px;
  padding: 6px 12px 8px;
  color: #fff;
  border-radius: 6px;
  text-align: center;
}

.rightControl {
  display: flex;
  margin-left: auto;
}

.rightControl .group,
.rightControl .msg,
.rightControl .theme,
.rightControl .i18n {
  margin-right: 26px;
  cursor: pointer;
}

.rightControl .avatar {
  cursor: pointer;
}