@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

@layer utilities {
  .upload-gallery .ant-upload-list-picture-card {
    @apply mt-4;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  margin: 0;
  padding: 0;
  background-color: #eeefef;
}

div,
span,
img,
p,
main {
  box-sizing: border-box;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-wrap: wrap;
}

.bytemd {
  height: calc(100vh - 260px) !important;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.nextjs-toast {
  pointer-events: none;
  caret-color: transparent;
}
